@import url('https://use.typekit.net/pxx3ocd.css'); /*Nimbus Sans Condensed*/
@import "tailwindcss";

@theme {
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 128rem;

    --font-antiqua: 'urw-antiqua', serif;
    --font-nimbus: 'nimbus-sans-condensed', sans-serif;
}

@utility container {
    @apply mx-auto px-8;
}